@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@700&display=swap');
table {border-collapse: collapse;}
td {padding: 6px; text-align:right;}
th {padding:20px;}
body{
  font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Oxygen,Ubuntu,Cantarell,open sans,helvetica neue,sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --clr-light: #ffffff;
  --clr-dark: black;
  /*--clr-primary: #dbffa2;*/
  /*--clr-secondary: #c3fcf2;*/
  /*--clr-accent: #ff7750;*/

  --foreground: var(--clr-dark);
  --background: var(--clr-light);

  /*--ff-title: "Playfair Display", serif;*/
  /*--ff-body: "Assistant", sans-serif;*/
}

.darkmode {
  --clr-light: #fffcf2;
  --clr-dark: #00171f;
  /*--clr-primary: #202302;*/
  /*--clr-secondary: #00100d;*/
  /*--clr-accent: #ff7750;*/

  --foreground: var(--clr-light);
  --background: var(--clr-dark);
}

/*h1 {
  font-size: calc(3rem + 7vw);
  font-family: var(--ff-title);
  margin: 0 0 0.25em;
  line-height: 1;
}*/


.btn-group {
  margin: 2em 0;
  display: relative;
}

.btn {
  padding: 1em 2em;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  line-height: 1;
}

.btn + .btn {
  margin-left: 1em;
}

.btn-secondary {
  background: var(--foreground);
  color: var(--background);
  // border: currentColor solid 2px;
}

.btn-accent {
  background: var(--clr-accent);
  color: var(--foreground);
}

.btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: var(--foreground) 2px solid;
  left: -4px;
  top: 4px;
  border-radius: inherit;
  z-index: -1;
}

.intro {
  height: 80vh;
  padding: 10em 0;
  display: grid;
  grid-template-columns: minmax(2em, 1fr) minmax(80vw, 860px) minmax(2em, 1fr);
  background: linear-gradient(120deg, var(--clr-primary), var(--clr-secondary));
  align-content: center;
}

.intro > * {
  grid-column: 2 / 3;
}

.dark-mode-toggle {
  position: absolute;
  z-index: 100;
  top: 1em;
  right: 1em;
  color: var(--foreground);
  border: 2px solid currentColor;
  padding: 4px;
  background: transparent;
  cursor: pointer;
  border-radius: 5px;
  width: 30px;
  height: 30px;
}
.subtitle {
  max-width: 600px;
}

.btn-group {
  margin: 2em 0;
  display: relative;
}

.btn {
  padding: 1em 2em;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  line-height: 1;
}

.btn + .btn {
  margin-left: 1em;
}

.btn-secondary {
  background: var(--foreground);
  color: var(--background);
  // border: currentColor solid 2px;
}

.btn-accent {
  background: var(--clr-accent);
  color: var(--foreground);
}

.btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: var(--foreground) 2px solid;
  left: -4px;
  top: 4px;
  border-radius: inherit;
  z-index: -1;
}

/*.intro {
  height: 80vh;
  padding: 10em 0;
  display: grid;
  grid-template-columns: minmax(2em, 1fr) minmax(80vw, 860px) minmax(2em, 1fr);
  background: linear-gradient(120deg, var(--clr-primary), var(--clr-secondary));
  align-content: center;
}

.intro > * {
  grid-column: 2 / 3;
}*/

.dark-mode-toggle {
  position: absolute;
  z-index: 100;
  top: 1em;
  right: 1em;
  color: var(--foreground);
  border: 2px solid currentColor;
  padding: 4px;
  background: transparent;
  cursor: pointer;
  border-radius: 5px;
  width: 30px;
  height: 30px;
}
/* t {text-align:center} */
svg:hover {
fill: red;
}
#copy_btn{
align-items: center;
margin-top: 25px;
position: absolute;
width: 35px;
height: 35px;
background-color: Transparent;
background-repeat:no-repeat;
border: none;
cursor:pointer;
overflow: hidden;
outline:none;
/* padding-top: 16px; */
}
#copy_btn1{
align-items: center;
margin-top: 24px;
position: absolute;
width: 35px;
height: 35px;
background-color: Transparent;
background-repeat:no-repeat;
border: none;
cursor:pointer;
overflow: hidden;
outline:none;
/* position: absolute; */
bottom: 0;
left: 0;
/* padding-top: 16px; */
}
.keyword{
color:#FF85FF;
}
.function{
color:#a2d2ff;
}
.variable{
color:#76c893;
}
.module{
color:#ff6b6b;
}
.number{
color:#ffba08;
}

.codediv {
background-color:#1a1a1d;
/* padding: 3px; */
margin-right: auto;
/* font-family: Consolas,Monaco,Andale Mono,Ubuntu Mono,monospace; */
color: #a9a9b3;
/* padding: 3px; */
/* font-size: 110%; */
margin: auto;
width: 65%;
font-size :16px;
/* border: 3px solid #73AD21; */
padding: 10px;
overflow: scroll;
border-radius: 8px;
white-space:nowrap;
line-height: 1.6;
min-width:900px;
}
code {
font-family: Monaco,monospace;
/* font-family: 'Raleway', sans-serif; */
color: #a9a9b3;
padding: 3px;
font-size: 110%;
}
.dark-mode {
background-color: black;
color: white;
}
.center {
margin: auto;
width: 65%;
/* border: 3px solid #73AD21; */
padding: 10px;
font-size:15px;
font-family: 'Nunito', sans-serif;
text-align : center;
/* font-size = 55px; */
}
.markdown{
/* font-family: Consolas,Monaco,Andale Mono,Ubuntu Mono,monospace; */
color: red;
padding: 3px;
font-size: 110%;
background-color:#d5f4e6;
border-radius: 5px;
}
.scenter{
margin: auto;
text-align:center;
/* width:65%; */
padding:10px;
font-size: 17px;
/* font-family:Inter UI,-apple-system,BlinkMacSystemFont,Roboto,Segoe UI,Helvetica,Arial,sans-serif; */
font-family: 'Nunito', sans-serif;
}

.scenter1{
	margin: auto;
	text-align:center;
	/* width:65%; */
	padding:10px;
	font-size: 90%;
	/* font-family:Inter UI,-apple-system,BlinkMacSystemFont,Roboto,Segoe UI,Helvetica,Arial,sans-serif; */
	font-family: 'Nunito', sans-serif;
	}

.bottom{
margin: auto;
text-align:center;
/* width:65%; */
padding:10px;
/* font-family:Inter UI,-apple-system,BlinkMacSystemFont,Roboto,Segoe UI,Helvetica,Arial,sans-serif; */
font-family: 'Nunito', sans-serif;
}

#footer {
    max-width: 980px;
    text-align: center;
    margin-bottom: 0;
		font-family: 'Nunito', sans-serif;
}
/* left:50%; */
/* font-family:Inter UI,-apple-system,BlinkMacSystemFont,Roboto,Segoe UI,Helvetica,Arial,sans-serif; */


.table{
margin: auto;
text-align:center;
/* width:65%; */
padding:10px;
font-size: 18px;
/* font-family:Inter UI,-apple-system,BlinkMacSystemFont,Roboto,Segoe UI,Helvetica,Arial,sans-serif; */
font-family: 'Nunito', sans-serif;
/* width: 65%; */
}
.content{
text-align : justify;
margin: auto;
width: 52%;
/* border: 3px solid #73AD21; */
padding-bottom:10px;
min-width:900px;
font-size: 18px;
line-height: 140%;
font-family:'Nunito', sans-serif;
/*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;*/
}

.content1{
	text-align : center;
	margin: auto;
	width: 100%;
	/* border: 3px solid #73AD21; */
	padding-bottom:10px;
	min-width:900px;
	font-size: 17px;
	line-height: 130%;
	font-family:'Nunito', sans-serif;
}
iframe { 
	/* width: 500px; It should not be 100%  */
	/* height: 500px:  */
	display: block;
	margin-left: auto;   /* Automatic margin from left */ 
	margin-right: auto; /* Automatic margin from right */ 
   }  
.italic{
text-align : justify;
margin: auto;
width: 65%;
/* border: 3px solid #73AD21; */
padding-bottom:10px;
min-width:900px;
font-size: 20px;
font-family:'Alegreya', sans-serif;
}
.content1{
	text-align : justify;
	margin: auto;
	width: 65%;
	/* border: 3px solid #73AD21; */
	padding-bottom:10px;
	min-width:900px;
	font-size: 20px;
	line-height: 1.2;
font-family:sf pro display,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
}
.content2{
text-align : justify;
margin: auto;
width: 65%;
/* border: 3px solid #73AD21; */
padding-bottom:10px;
min-width:900px;
font-size: 20px;
color:blue;
text-decoration: none;
font-family:'Crimson Pro', sans-serif;
}
.latex{
margin: auto;
width: 65%;
/* border: 3px solid #73AD21; */
padding-left: 1px;
padding-right: 1px;
padding-top: 10px;
padding-bottom: 10px;
 font-size :18px; 
text-align : center;

}
p{
font-size: 20px;
font-family:Inter UI,-apple-system,BlinkMacSystemFont,Roboto,Segoe UI,Helvetica,Arial,sans-serif;
text-align : center;
}
.faded {
opacity :0.5;
}

.topnav {
  overflow: hidden;
  /*text-align: center;*/
  /*background-color: #5e60ce; */
  margin: 0;
  padding: 0;
	font-family:'Alegreya Sans SC', sans-serif;
}

.topnav a {
	text-align: center;
  float: left;
  color: #2ec4b6;
  /*text-align: center;*/
  padding: 14px 16px;
  text-decoration: none;
  font-size: 40px;
	/*overflow: hidden;*/
	display: flex;
	font-family:'Alegreya Sans SC', sans-serif;
	text-shadow: 2px 2px gray;
  /* margin:0px; */
  /* text-shadow: 1px 1px 2px black; */
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.bloghead a:hover {
	/* background-color: #ddd; */
	color: blue;
  }

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.top{
  font-size: 70px;
}
#small{
  font-size: 25px;
	font-family:'Nunito', sans-serif;
	color:red;
	padding-top: 25px;
	/* text-align: center; */
}
/* html,body { width:100%; } */
.bloghead{
	font-size: 30px;
	/* color: black; */
	text-align: center;
	font-family: 'Raleway', sans-serif;
	margin-bottom: 0;
	text-decoration: none;
	/* text-shadow: 2px 2px #83c5be; */
	/* padding: 20px; */
}
.linkhead{
	font-size: 30px;
	/* color: black; */
	text-align: right;
	font-family: 'Raleway', sans-serif;
	margin-bottom: 0;
	text-decoration: none;
	/* text-shadow: 2px 2px #83c5be; */
	padding-right: 20px;
}
.link{
  text-align : justify;
  margin: auto;
  width: 65%;
  /* border: 3px solid #73AD21; */
  padding-bottom:10px;
  min-width:900px;
  font-size: 20px;
  line-height: 130%;
  font-family:'Nunito', sans-serif;
  color:#2ec4b6;
  /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;*/
  }
.bloghead1{
	font-size: 36px;
	text-align: center;
	font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Oxygen,Ubuntu,Cantarell,open sans,helvetica neue,sans-serif;
	margin-bottom: 0;
	text-decoration: none;
	color:#0076df;
}

.bloghead1:visited {
  color: #0076df;
}

/* mouse over link */
.bloghead1 a:hover
{
background-color:#080808;
color:white;
}

.bloghead2{
	font-size: 44px;
	text-align: center;
	font-family: 'Alegreya Sans SC', sans-serif;
	margin-bottom: 0;
	text-decoration: none;
	color:#2ec4b6;
	/* text-shadow: 2px 2px #52796f; */
}
.shortcontent{
	text-align : justify;
	margin: auto;
	width: 70%;
	/* border: 3px solid #73AD21; */
	padding-bottom:10px;
	/* min-width:900px; */
	font-size: 25px;
	/* font-color:#e9c46a; */
	font-family:'Crimson Pro', sans-serif;

}
.date{
	font-size:18px;
	font-family:'Crimson Pro', sans-serif;
	width: 65%;
	text-align : left;
	margin: auto;
}
.readmore{
	font-size:20px;
	font-family: 'Nunito', sans-serif;
	width: 65%;
	/* margin-left: 20px; */
	padding-left: 20px;
	/* text-decoration: none; */
	/* text-align : left; */
	margin: auto;
	font-weight: bold;
	/* text-shadow: 2px 2px white; */

}
.line{
	width:65%;
	font-weight: bold;
	min-width:900px;
  margin-top: 0;
}
.about_head{
text-align : justify;
margin: auto;
width: 65%;
/* border: 3px solid #73AD21; */
padding-bottom:8px;
padding-top: 8px;

min-width:900px;
font-size: 26px;
/* font-family:'Crimson Pro', sans-serif; */
font-family: 'Raleway', sans-serif;
}

.sub_head{
	text-align : center;
	margin: auto;
	width: 65%;
	/* border: 3px solid #73AD21; */
	/* padding-bottom:10px; */
	min-width:900px;
	/* color: #FF85FF; */
	font-size: 35px;
	/* font-family:'Crimson Pro', sans-serif; */
	font-family: 'Alegreya Sans SC', sans-serif;
	}

.column {
	float: left;
	width: 48%;
	padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
	content: "";
	clear: both;
	display: table;
  }

.highlight{
	text-align : justify;
	margin: auto;
	width: 65%;
	/* border: 3px solid #73AD21; */
	padding-bottom:10px;
	min-width:900px;
	font-size: 20px;
	line-height: 130%;
	font-family:'Nunito', sans-serif;
	color:#eb781a;

}

.highlight1{
	text-align : justify;
	margin: auto;
	width: 65%;
	/* border: 3px solid #73AD21; */
	padding-bottom:10px;
	min-width:900px;
	font-size: 20px;
	line-height: 130%;
	font-family:'Nunito', sans-serif;

}

.green{
	text-align : justify;
	margin: auto;
	width: 65%;
	/* border: 3px solid #73AD21; */
	padding-bottom:10px;
	min-width:900px;
	font-size: 20px;
	line-height: 130%;
	font-family:'Nunito', sans-serif;
	/*color:#228B22;*/
  color:#52b788;

}
.author{
text-align : justify;
margin: auto;
width: 65%;
/* border: 3px solid #73AD21; */
padding-bottom:10px;
min-width:900px;
font-size: 20px;
line-height: 130%;
font-family:'Quicksand', sans-serif;
/*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;*/
}
