@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');
table {border-collapse: collapse;}
td {padding: 6px; text-align:right;}
th {padding:20px;}
body{
  font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Oxygen,Ubuntu,Cantarell,open sans,helvetica neue,sans-serif;
}


:root {
  --clr-light: #ffffff;
  --clr-dark: black;
  /*--clr-primary: #dbffa2;*/
  /*--clr-secondary: #c3fcf2;*/
  /*--clr-accent: #ff7750;*/

  --foreground: var(--clr-dark);
  --background: var(--clr-light);

  /*--ff-title: "Playfair Display", serif;*/
  /*--ff-body: "Assistant", sans-serif;*/
}

.scenter{
margin: auto;
text-align:center;
/* width:65%; */
padding:10px;
font-size: 17px;
/* font-family:Inter UI,-apple-system,BlinkMacSystemFont,Roboto,Segoe UI,Helvetica,Arial,sans-serif; */
font-family: 'Nunito', sans-serif;
}
.linkhead{
  font-family: 'Hind Siliguri', sans-serif;
  font-size: 30px;
  text-align: right;
  margin:0% ;

}
.links{
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}
.links:hover{
  text-decoration: underline;
  color:black;

}
.links:visited{
  text-decoration: underline;
  color: blue ;
}
.navlinks{
  font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Oxygen,Ubuntu,Cantarell,open sans,helvetica neue,sans-serif;
  font-size:20px;
  text-align: right;

}
.table{
margin: auto;
text-align:center;
/* width:65%; */
padding:10px;
font-size: 18px;
/* font-family:Inter UI,-apple-system,BlinkMacSystemFont,Roboto,Segoe UI,Helvetica,Arial,sans-serif; */
font-family: 'Nunito', sans-serif;
/* width: 65%; */
}
.content{
text-align : justify;
margin: auto;
width: 52%;
/* border: 3px solid #73AD21; */
padding-bottom:10px;
min-width:900px;
font-size: 18px;
line-height: 140%;
font-family:'Nunito', sans-serif;
/*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;*/
}
.top{
  text-align : justify;
  margin: auto;
  width: 550px;
  /* border: 3px solid #73AD21; */
  padding-bottom:10px;
  min-width:550px;
  font-size: 18px;
  line-height: 140%;
  font-family:'Nunito', sans-serif;
  /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;*/
  }

.toplink{
  font-size: 19px;
}


iframe { 
	/* width: 500px; It should not be 100%  */
	/* height: 500px:  */
	display: block;
	margin-left: auto;   /* Automatic margin from left */ 
	margin-right: auto; /* Automatic margin from right */ 
   }  

.latex{
margin: auto;
width: 65%;
/* border: 3px solid #73AD21; */
padding-left: 1px;
padding-right: 1px;
padding-top: 10px;
padding-bottom: 10px;
 font-size :18px; 
text-align : center;
}

.link{
  text-align : justify;
  margin: auto;
  width: 65%;
  /* border: 3px solid #73AD21; */
  padding-bottom:10px;
  min-width:900px;
  font-size: 20px;
  line-height: 130%;
  font-family:'Nunito', sans-serif;
  color:#2ec4b6;
  /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;*/
  }
.bloghead1{
	font-size: 36px;
	text-align: center;
	font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Oxygen,Ubuntu,Cantarell,open sans,helvetica neue,sans-serif;
	margin-bottom: 0;
	text-decoration: none;
	color:#0076df;
}

.bloghead1:visited {
  color: #0076df;
}

/* mouse over link */
.bloghead1 a:hover
{
background-color:#080808;
color:white;
}

.readmore{
	font-size:20px;
	font-family: 'Nunito', sans-serif;
	width: 65%;
	/* margin-left: 20px; */
	padding-left: 20px;
	/* text-decoration: none; */
	/* text-align : left; */
	margin: auto;
	font-weight: bold;
	/* text-shadow: 2px 2px white; */

}
.line{
	width:52%;
	font-weight: bold;
	min-width:900px;
  margin-top: 0;
}

.highlight{
	text-align : justify;
	margin: auto;
	width: 65%;
	/* border: 3px solid #73AD21; */
	padding-bottom:10px;
	min-width:900px;
	font-size: 20px;
	line-height: 130%;
	font-family:'Nunito', sans-serif;
	color:#eb781a;

}
